/JavaServlet/nbproject/private/
/JavaServlet/build/
/kiso3-1/nbproject/private/
/kiso3-1/build/
/kiso3/nbproject/private/
/kiso3/build/
/Object1/nbproject/private/
/Object1/build/
/BlackJack/nbproject/private/
/BlackJack/build/
/BlackJack/dist/
/JavaNomalClass/nbproject/private/
/JavaNomalClass/build/
/DataOperation/nbproject/private/
/DataOperation/build/
/jdbc/nbproject/private/
/jdbc/build/
/jdbc2/nbproject/private/
/jdbc2/build/
/JavaUserManagementSystem_ver1.0/build/
/JavaUserManagementSystem_ver2.0/JavaUserManagementSystem_ver2.0/build/