<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>kiso1</servlet-name>
        <servlet-class>org.mypackage.nomal.kiso1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiso2</servlet-name>
        <servlet-class>org.mypackage.nomal.kiso2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiso3</servlet-name>
        <servlet-class>org.mypackage.nomal.kiso3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiso4</servlet-name>
        <servlet-class>org.mypackage.nomal.kiso4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiso5</servlet-name>
        <servlet-class>org.mypackage.nomal.kiso5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiso6</servlet-name>
        <servlet-class>org.mypackage.nomal.kiso6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiso7</servlet-name>
        <servlet-class>org.mypackage.nomal.kiso7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jiyuuchou</servlet-name>
        <servlet-class>org.mypackage.nomal.jiyuuchou</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiso8</servlet-name>
        <servlet-class>org.mypackage.nomal.kiso8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kiso9</servlet-name>
        <servlet-class>org.mypackage.nomal.kiso9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ouyou</servlet-name>
        <servlet-class>org.mypackage.nomal.ouyou</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kiso1</servlet-name>
        <url-pattern>/kiso1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiso2</servlet-name>
        <url-pattern>/kiso2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiso3</servlet-name>
        <url-pattern>/kiso3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiso4</servlet-name>
        <url-pattern>/kiso4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiso5</servlet-name>
        <url-pattern>/kiso5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiso6</servlet-name>
        <url-pattern>/kiso6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiso7</servlet-name>
        <url-pattern>/kiso7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jiyuuchou</servlet-name>
        <url-pattern>/jiyuuchou</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiso8</servlet-name>
        <url-pattern>/kiso8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kiso9</servlet-name>
        <url-pattern>/kiso9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ouyou</servlet-name>
        <url-pattern>/ouyou</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
