<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>dbAccess</servlet-name>
        <servlet-class>org.mypackage.dbaccess.DbAccess1_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultdbAccess</servlet-name>
        <servlet-class>org.mypackage.dbaccess.ResultdbAccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbAccess2</servlet-name>
        <servlet-class>org.mypackage.dbaccess.DbAccess3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbAccess4</servlet-name>
        <servlet-class>org.mypackage.dbaccess.DbAccess4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbAccess5</servlet-name>
        <servlet-class>org.mypackage.dbaccess.DbAccess5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbAccess6</servlet-name>
        <servlet-class>org.mypackage.dbaccess.DbAccess6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbAccess7</servlet-name>
        <servlet-class>org.mypackage.dbaccess.DbAccess7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DbAccess8</servlet-name>
        <servlet-class>org.mypackage.dbaccess.DbAccess8</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbAccess</servlet-name>
        <url-pattern>/dbAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultdbAccess</servlet-name>
        <url-pattern>/ResultdbAccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbAccess2</servlet-name>
        <url-pattern>/dbAccess2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbAccess4</servlet-name>
        <url-pattern>/DbAccess4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbAccess5</servlet-name>
        <url-pattern>/DbAccess5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbAccess6</servlet-name>
        <url-pattern>/DbAccess6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbAccess7</servlet-name>
        <url-pattern>/DbAccess7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DbAccess8</servlet-name>
        <url-pattern>/DbAccess8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>新規Servlet</servlet-name>
        <url-pattern>/__Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
